.Landing-page {
    font-size: 17px;
    background-color: rgb(247,247,248);
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
}

.Welcome-Message {
    margin: 120px auto;
    margin-top: 10vh;
    font-family: 'Lato', sans-serif;
    line-height: 1.5;
}

.Welcome-Message h3 {
    padding-bottom: 20px;
}

.Welcome-Message p {
    margin: 0 25px;
    padding-bottom: 40px;
}

.brand {
    font-family: 'Anonymous Pro', monospace;
    font-size: 1.2rem;
    padding-left: 7px;
}

.submit {
    padding: 5px 30px 3px 7px;
    color: rgb(247,247,248);
    font-family: 'Bebas Neue', cursive;
    font-size: 1.2rem;
    letter-spacing: 1.2px;
    background-color: rgba(0, 0, 0, 0.815);
    border-radius: 4px;
    border: none;
    position: relative;
}

.material-icons {
    position: absolute;
    top: 3px;
    right: 5px
}

.Logo-Container {
    border-top: 1.7px solid black;
    background-color: rgb(75,225,215);
    width: 100vw;
    position: absolute;
    bottom: 0;
    left:0;
}

.Landing-logo {
    width: auto;
    max-height: 345px;
}

@media only screen and (min-width: 722px) {
    .Landing-page {
        font-size: 18px;
    }
    .Welcome-Message p {
        margin: 0 100px;
    }
    .Landing-logo {
        width: auto;
        max-height: 613px;
        position: relative;
    }
}

@media only screen and (min-width: 1024px) {
    .Landing-page {
        font-size: 19px;
        background-color: rgb(247,247,248);
        box-sizing: border-box;
        position: relative;
        display: flex;
    }
    .Landing-logo {
        max-height: 350px;
    }
}