.Landing-page {
    background-color: rgb(247,247,248);
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
}

.Welcome-Message {
    order: 1;
    margin: 120px auto;
    font-family: 'Lato', sans-serif;
    line-height: 1.5;
}

.Welcome-Message h3 {
    padding-bottom: 20px;
}

.Welcome-Message p {
    margin: 0 25px;
}

.Landing-logo {
    max-width: 100vw;
    order: 1;
}

.brand {
    font-family: 'Anonymous Pro', monospace;
    font-size: 1.2rem;
    padding-left: 7px;
}

@media only screen and (min-width: 722px) {
    
}

@media only screen and (min-width: 1024px) {
    
}