.LoginForm {

}

.Form-Title {
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 1.2px;

}

.From-Container {

}

.Email--input, .Password--input, .Username--input {

}

.Email--input::placeholder, 
.Password--input::placeholder, 
.Username--input::placeholder {
    font-family: 'Anonymous Pro', monospace;
}

.Login-buttons-container {

}

.submit {

}

@media only screen and (min-width: 722px) {
    
}

@media only screen and (min-width: 1024px) {
    
}